@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

/*for mobile*/
@media only screen and (max-width:450px){
    
form{
    background-color: white;
    border-radius: 25px;
    padding: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 80%;
    
}
.ast{
    color: #ff000a;
}

form input{
    margin-top: 5px;
    margin-bottom: 10px;
}

body{
        background: linear-gradient(45deg, #f77737, #d62976, #962fbf, #f77737, red);
        background-size: 400% 400%;
        animation: gradientAnimation 5s ease         infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        
}


.sub-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    cursor: pointer;
}

.gen{
    display: inline;
}
.go{
    display: flex;
  align-items: center;
  column-gap: 7px;
  cursor: pointer;
}
.box{
  position: relative;
  height: 8vw;
  width: 60vw;
  font-size: 1rem;
  color: black;
  margin-top: 8px;
  border:1px solid black;
  border-radius: 6px;
  padding: 10px;
  cursor: text;
  
}

button{
    height: 10vw;
    width: 55vw;
    color: white;
    border-radius: 10px;
    background-color: #ce00ff;
    font-size: 20px;
    cursor: pointer;
    
}

}

/*for tab and pc*/
@media only screen and (min-width:1000px){
form{
    background-color: white;
    border-radius: 25px;
    padding: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 80%;
    font-size: 2em;
    flex-wrap: wrap;
    
}

form input{
    margin-top: 5px;
    margin-bottom: 10px;
}
.ast{
    color: #ff000a;
}

body{
        background: linear-gradient(45deg, #f77737, #d62976, #962fbf, #f77737, red);
        background-size: 400% 400%;
        animation: gradientAnimation 5s ease         infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
}

.sub-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12vw;
    cursor: pointer;
    word-wrap: break-word;
}

.gen{
    display: flex;
    flex-direction: column;
}
.go{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 75px;
    margin-top: 10px;
    cursor: pointer;
}
.box{
  position: relative;
  height: 2vw;
  width: 30vw;
  font-size: 1rem;
  color: black;
  margin-top: 8px;
  border:1px solid black;
  border-radius: 6px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: text;
}
#group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4vw;
}

button{
    height: 3vw;
    width: 55vw;
    color: white;
    border-radius: 10px;
    background-color: #ce00ff;
    font-size: 20px;
    cursor: pointer;
}

}
